body {
    background-color: #fbf4edea;
    margin: 0; 
}



ul {
    list-style: none;
    background-color: rgb(240, 230, 230);
    display: flex;
    justify-content: space-around;
    padding: 20px 10px; 
    
}

ul li a {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 15 10px; 
  
}

button {
    background-color:  rgb(220, 201, 177);
    margin: 0 5px; 
    border-radius: 2px;
    font-family: 'Work Sans', sans-serif;
    color: black;
}

.book-appointments {
    padding-left: 10px;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.bookings {
    background-color: #fbf4edea;
    margin: 0 5px; 
    border-radius: 2px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    cursor: pointer; /* pointer cursor for interactivity */

}

.appointment-container {
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 8px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    background-color:rgb(220, 201, 177);
    font-family: 'Work Sans', sans-serif;
}

.appointment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

footer {
    background-color:  rgb(220, 201, 177);
    font-family: 'Work Sans', sans-serif;
    color: black;
    padding: 20px;
    text-align: center;
}

.footerlist{
    background-color:  rgb(220, 201, 177);

}