
body {
    background-color: #fbf4edea;
    margin: 0;
    
   
}



ul {
    list-style: none;
    background-color: rgb(240, 230, 230);
    display: flex;
    justify-content: space-around;
    padding: 20px 10px; 
    
}

ul li a {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 15 10px; 
  
}

button {
    background-color:  rgb(220, 201, 177);
    margin: 0 5px; 
    border-radius: 2px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    cursor: pointer; 
}

.MeetTheTeam{
    padding-left: 15px;
    color: rgb(175, 145, 109);
    font-family: 'Work Sans', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.flex-container {
    display: flex;
    width: 100%;
    padding-left: 20px;
    

}

.flex-child {
    flex: 1;
    border: 2px solid rgb(220, 201, 177);
    width: 200px;
    justify-content: center; /* Centers the content of the container horizontally */
    margin-right: 20px;
}  

.image1 img { /*Styles image1*/
    
    width: 50%;
    height: 240px;
    display: block; /* Removes extra space below the image */
    margin: auto; /* Centers the image horizontally and vertically */
    padding-top: 30px;
    padding-bottom: 10px;
} 

.PhysioName1,
.PhysioName2,
.PhysioName3{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.PhysioDescription1,
.PhysioDescription2,
.PhysioDescription3 {
    text-align: center;
    padding-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px;
    font-family: 'Work Sans', sans-serif;
}

.ClinicianTitle1,
.ClinicianTitle2,
.ClinicianTitle3 {
    text-align: center;
    color: rgb(175, 145, 109);
    font-family: 'Work Sans', sans-serif;
}

.image2 img { /*Styles image2*/
    width: 50%; /* Sets the maximum width to 50% of the container */
    height: auto;
    display: block; /* Removes extra space below the image */
    margin: auto; /* Centers the image horizontally and vertically */
    padding-top: 30px;
    padding-bottom: 10px;
    
} 


.flex-child:first-child {
    margin-right: 20px;
}


.image3 img {/*Styles image3*/
    
    width: 50%; /* Sets the maximum width to 50% of the container */
    max-height: 300px;
    margin: auto; /* Centers the image horizontally and vertically */
    display: block; /* Removes extra space below the image */
    padding-top: 30px;
    padding-bottom: 10px;
}

.slogan {
    text-align: center;
    font-size: 40px; 
    margin-top: 50px; 
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

footer {
    background-color:  rgb(220, 201, 177);
    font-family: 'Work Sans', sans-serif;
    color: black;
    padding: 20px;
    text-align: center;
}

.footerlist{
    background-color:  rgb(220, 201, 177);

}

